/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Header Styles */
.header {
  background-color: #E0DEFD;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.header h1 {
  margin: 0;
}
.button-primary-1{
  background-color: #ffffff;
  color: #6558F5;
}
.button-primary-2{
  background-color: #6558F5;
  color: rgb(255, 255, 255);
}

.header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin-left: 20px;
}

/* Search Bar Styles */
.search-bar {
  margin: 20px 0;
  text-align: center;
}

.search-bar input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
}

/* Movie List Styles */
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.movie {
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(33.333% - 20px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: white;
}

.movie h3 {
  margin: 0;
  color:#E0DEFD;
}

.movie p {
  margin: 5px 0;
}

/* Footer Styles */
.footer {
  background-color: #E0DEFD;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
